<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DANH SÁCH NHÓM | HTQL SVTT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

      h3{
        font-family: 'Yeseva One', cursive;
        text-align: center;
        color: rgba(0, 0, 0, 0.85);
      }
    </style>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- sweetalert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- DATATABLE -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-bottom-dark sticky-top" data-bs-theme="dark">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="{{ url_for('statics', path='images/VNPT_Logo.svg')}}" alt="VNPT Vĩnh Long" width="25px"> <span></span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        </div>
      </div>
    </nav>
    <div class="container mt-4">
      <div class="col-sm-10 mx-auto row mb-3">
        <h3 class="mt-4">Danh sách nhóm</h3>
        <button type="button" id="addProjectBtn" class="btn btn-success btn-sm col-sm-2 mx-auto mb-3" data-bs-toggle="modal" data-bs-target="#addProjectModal"><i class="fa-solid fa-plus"></i> Thêm đề nhóm</button>
        <!-- Add new project Modal -->
        <div class="modal fade" id="addProjectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="projectModalLabel">Thêm nhóm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="project_info">
                  <div class="mb-3 row">
                    <label for="project" class="col-sm-3 col-form-label">Tên đề tài</label>
                    <div class="col-sm-9">
                      <select name="project" id="project" class="form-control"></select>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="internship" class="col-sm-3 col-form-label">Kỳ thực tập</label>
                    <div class="col-sm-9">
                      <select name="internship" id="internship" class="form-control"></select>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="instructor" class="col-sm-3 col-form-label">Người hướng dẫn</label>
                    <div class="col-sm-9">
                      <select name="instructor" id="instructor" class="form-control"></select>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <button type="button" class="btn btn-success col-sm-4 mx-auto" id="addBtn"><i class="fa-solid fa-plus"></i> Thêm</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div> 
        <!-- DATA TABLE  -->
        <table id="bangdanhsachnhom" class="table table-hover table-striped mt-4">
          <thead>
            <tr style="text-align: center;">
              <th scope="col" style="width: 30%;">Tên đề tài</th>
              <th scope="col" style="width: 28%">Kỳ thực tập</th>
              <th scope="col" style="width: 25%;">Người hướng dẫn</th>
              <th scope="col" style="width: 17%;">Thao tác</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
          <!-- Edit Modal -->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Sửa thông tin nhóm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <!-- Nơi để hiển thị thông tin chi tiết của đề tài để sửa đổi -->
                <form id="editForm">
                  <div class="mb-3 row">
                    <label for="editProject" class="col-sm-3 col-form-label">Tên đề tài</label>
                    <div class="col-sm-9">
                      <select name="editProject" id="editProject" class="form-control"></select>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="editInternship" class="col-sm-3 col-form-label">Kỳ thực tập</label>
                    <div class="col-sm-9">
                      <select name="editInternship" id="editInternship" class="form-control"></select>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="editInstructor" class="col-sm-3 col-form-label">Người hướng dẫn</label>
                    <div class="col-sm-9">
                      <select name="editInstructor" id="editInstructor" class="form-control"></select>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveChanges"><i class="fa-solid fa-floppy-disk-pen"></i> Lưu thay đổi</button>
              </div>
            </div>
          </div>
        </div>
        <script src="{{ url_for('statics', path='js/groups.js')}}"></script>
        <script src="{{ url_for('statics', path='js/security.js') }}"></script>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>